<% layout('/layouts/boilerplate.ejs')%>
<div class="row">
    <h1 class="text-center">New Campground</h1>
    <div class="col-6 offset-3">
        <form action="/campgrounds" method= "POST" novalidate class="needs-validation" enctype="multipart/form-data"> <!-- <-- required for uploading anything through a form -->
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id ="title" name="campground[title]" required> <!-- whats this do?-->
                <div class="valid-feedback">Great title!</div>
                <div class="invalid-feedback">Please enter a title!</div>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id ="location" name="campground[location]" required> 
                <div class="valid-feedback">Sounds like a cool place!</div>
                <div class="invalid-feedback">Please enter a location!</div>
            </div>
            <div class="mb-3">
                <input type="file" name= "image" id ="" multiple>
            </div>
            <!-- <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input type="text" class="form-control" id ="image" name="campground[image]" required> 
                <div class="valid-feedback">Lookin' good!</div>
                <div class="invalid-feedback">Upload an image of the campground!</div>
            </div> -->

            <div class="mb-3">
                <label for="price-label" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="basic-addon1">$</span>
                    <input type="text" class="form-control" min="0" placeholder="0.00" id="price-label" name="campground[price]" required 
                    aria-label="Username" aria-describedby="price-label">
                    <div class="valid-feedback">What a bargain!</div>
                    <div class="invalid-feedback">Please enter a price!</div>
                </div>
            </div> 

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id ="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">Very descriptive!</div>
                <div class="invalid-feedback">Must provide a description!</div>
            </div>
            
            <div class="mb-3">
                <button class="btn btn-success">Add Campground!</button>
            </div> 
        </form>
        <a href="/campgrounds">Back to All Campgrounds</a>
    </div>
</div>
