<% layout('layouts/boilerplate.ejs')%>
<h1>REGISTER</h1>
<form action="/register" method="POST" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id ="username" name="username" required> <!-- //whats this do?-->
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a username!</div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id ="email" name="email" required> <!-- //whats this do?-->
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter an email address!</div>
    </div> 
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id ="password" name="password" required> <!-- //whats this do?-->
        <div class="valid-feedback">Looks good.</div>
        <div class="invalid-feedback">Please enter a password!</div>
    </div>     
    <button class="btn btn-success">Register</button>
</form>
